@import "./utils/utils-main";
@import "~normalize.css/normalize.css";
@import "fonts";

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: palevioletred;
}

img {
  width: 100%;
  height: auto;
}